<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>

    <!--<add name="OnLineProdavnicaConnectionString" connectionString="Data Source=mssql;Initial Catalog=mikropos_hellokittydb;User Id=mikropos_kittyusr;Password=drs1411966;"
   providerName="System.Data.SqlClient" />-->
    
  <add name="OnLineProdavnicaConnectionString" connectionString="Data Source=DESKTOP-AAMBH7H\SQLEXPRESS;Initial Catalog=OnLineHelloKitty;Integrated Security=True"
   providerName="System.Data.SqlClient" />

    <!--<add name="OnLineProdavnicaConnectionString" connectionString="Data Source=SH-VM-02\MEGAPOS;Initial Catalog=OnLineHelloKitty;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->
    
  <!--<add name="ConnectionString" connectionString="Data Source=MICROPOS-PC\SQLEXPRESS;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->
    
 </connectionStrings>
	<system.web>
		<roleManager enabled="true"/>
		<authentication mode="Forms">
			<forms loginUrl="Logovanje.aspx" defaultUrl="Korpa.aspx">
			</forms>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<!--<compilation debug="true" targetFramework="4.0" />-->
		<compilation targetFramework="4.0" debug="true"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<location path="AzuriranjeKategorija.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="AzuriranjePoreskihStopa.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="AzuriranjeProizvoda.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="AzuriranjeKurirskeSluzbe.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="PregledPorudzbina.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
